* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    top: 0px;
    height: 80px;
    width: 100%;
    border: 5px solid black;
    position: absolute;
    display: flex;
    align-items:center;
}

.base {
    background: rgb(134, 134, 134);
    width: 1500px;
    height: 720px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
}

.menu {
    height: 100%;
    width: 35%;
    background-color: rgb(233, 233, 233);
    display: inline-block;
    margin-right: 5px;
}

.schedule {
    height: 100%;
    width: 64%;
    background-color: rgb(233, 233, 233);
    display: inline-block;
}

@media screen and (max-width: 500px){
    div { width: 70%; }
}

@media screen and (max-height: 500px){
    div { height: 70%; }
}

/* Buttons color: rgb(180, 180, 180) */